{% extends 'layout.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page Index — Héritage OK</h1>

    {% include 'etudiants/listVoiture.html.twig' %}
{% endblock %}
